<mat-toolbar color="primary">

  <span class="brand" routerLink="/hotels">
    HotelBooking
  </span>

  <span class="spacer"></span>

  <ng-container *ngIf="isLoggedIn; else loggedOut">
    <button mat-button routerLink="/hotels">
      <mat-icon>search</mat-icon> Hotels
    </button>
    <button mat-button (click)="logout()">
      <mat-icon>logout</mat-icon> Logout
    </button>
  </ng-container>

  <ng-template #loggedOut>
    <button mat-button routerLink="/auth/login">
      <mat-icon>login</mat-icon> Login
    </button>
    <button mat-button routerLink="/auth/register">
      <mat-icon>person_add</mat-icon> Register
    </button>
  </ng-template>

</mat-toolbar>